.task{
    background-color: #f4f4f4;
    margin:5px;
    padding: 10px 20px;
    cursor:pointer;
}

.task.reminder{
    border-left: 5px solid yellow;
}
.task h3{
    display: felx;
    align-items:center;
    justify-content: space-between;

}